@import "../foundation/variables";

.l-header {
     background-image: url(#{$img_main});
     background-size: cover;
}

@media #{$screen_xs} {
    .l-header {
         height: 250px;
    }
}

@media #{$screen_sm} {
    .l-header {
        height: 500px;
    }
}
